/*  .animation-pet {
  animation-name: dogMove;
   animation-duration: 2s;
   transform-origin: center;
   animation-iteration-count: infinite;
   transform-box: fill-box;
   animation-timing-function: linear;
 }
 @keyframes dogMove {
   0% {
     transform: translateX(0px) translateY(0px);
   }
   15% {
     transform: translateX(-5px) translateY(5px);
   }
   30% {
     transform: translateX(-10px) translateY(0px);
   }
   45% {
     transform: translateX(-15px) translateY(5px);
   }
   60% {
     transform: translateX(-10px) translateY(0px);
   }
   75% {
     transform: translateX(-5px) translateY(5px);
   }
   100% {
     transform: translateX(0px) translateY(0px);
   }
 } */